form.formIntegration2 *,
		form.formIntegration2 *::before,
		form.formIntegration2 *::after{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

		form.formIntegration2{ width: 100%; margin: 0 auto; }
		form.formIntegration2 input[type="text"]{outline:none; width: 100%; background-color: unset; border: 2px solid #333333; border-style: none none solid none; padding: 1rem; color: var(--cor-terciaria); transition: 0.5s ease;}    
		form.formIntegration2 select{width:100%; overflow:auto;}
		form.formIntegration2 select.invi-select{display:none; width:0px; height:0px; border:none;}
		form.formIntegration2 textarea{width:100%; height:80px; overflow:auto; resize:vertical;}
		form.formIntegration2 div.containerMultiple {width:100%; overflow:auto; border: 1px solid #bec5cb; padding: 2px; background-color:#FFF; position:relative;}
		form.formIntegration2 div.containerMultiple div {min-height: 20px;}
		form.formIntegration2 div.containerMultiple div label{white-space:nowrap; display:inline-block; position:relative;}
		form.formIntegration2 input.type_PHN_DDI{text-align:center;}
		form.formIntegration2 div.div_PHN_DDI {width: 28%; margin-right: 2%; text-align: center; display: inline-block; }
		form.formIntegration2 div.div_PHN_NUM {width: 70%; display: inline-block; }
		form.formIntegration2 .div_PHN.hidden_DDI div.div_PHN_DDI {width: 0; display: none; }
		form.formIntegration2 .div_PHN.hidden_DDI div.div_PHN_NUM {width: 100%; display: inline-block; }
		form.formIntegration2 .field-error{border-color: #CC0000!important;}
		form.formIntegration2 .g-recaptcha {margin-bottom:5px;}

		form.formIntegration2 .DinamizeDivMessageSuccess,
		form.formIntegration2 .DinamizeDivMessageAlert,
		form.formIntegration2 .DinamizeDivMessageError,
		form.formIntegration2 .DinamizeDivCaptchaMessage {display: none; margin: 0px 0px 10px; color: rgb(255, 255, 255); font-size: 14px; font-family: arial; padding: 15px;}

		form.formIntegration2 .DinamizeDivMessageSuccess {background-color: rgb(20, 118, 18);}
		form.formIntegration2 .DinamizeDivMessageAlert,
		form.formIntegration2 .DinamizeDivMessageError,
		form.formIntegration2 .DinamizeDivCaptchaMessage { background-color: #ac0000; }

		form.formIntegration2 div.block {display: block; margin-bottom: 10px; }
		form.formIntegration2 div.block:last-child {margin-bottom: 0px;}
		form.formIntegration2 div.vertical {display: block;}
		form.formIntegration2 div.horizontal {display: inline-block; vertical-align: middle;}
		form.formIntegration2 div.horizontal.divlabel {width: 28%; margin-right: 2%; text-align: right;}
		form.formIntegration2 div.horizontal.divinput {width: 70%}

		form.formIntegration2 div.containerAllInline div.block {display: inline-block; margin-right: 5px; margin-bottom: 5px;}
		form.formIntegration2 div.containerAllInline div.horizontal.divinput {width: 182px}

		form.formIntegration2 .submit {position: relative; width: 100%}
		form.formIntegration2 .submit.class1 {text-align:left;}
		form.formIntegration2 .submit.class2 {text-align:left; width: 70%}
		form.formIntegration2 .submit.class3 {text-align:center;}
		form.formIntegration2 .submit.class4 {text-align:right;}
		form.formIntegration2 .submit.class5 {text-align:center;}
		form.formIntegration2 .submit.class5 input[type=submit] {width:100%}
		form.formIntegration2 .spinner {display: none;}

		form.formIntegration2.style1 label{ color: #4a5765; font-family: arial; font-size: 14px; }
		form.formIntegration2.style1 input[type="text"]{ border: 2px solid #bec5cb; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; box-shadow: 0 0 0 4px transparent; color: #4a5766; font-size: 13px; padding: 9px 6px; height: 38px;}
		form.formIntegration2.style1 input[type="submit"]{ -webkit-appearance: none; border: medium none; background-color: #0e6e0e; color: #ffffff; cursor: pointer; font: bold 13px/38px Arial; height: 38px; padding: 0 15px; display: inline-block; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin: 5px 0 0 0;}
		form.formIntegration2.style1 div.containerMultiple,
		form.formIntegration2.style1 select,
		form.formIntegration2.style1 textarea{border: 2px solid #bec5cb; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; box-shadow: 0 0 0 4px transparent; color: #4a5766;}
		form.formIntegration2.style1 select{height:40px;}
		form.formIntegration2.style1 textarea{max-height: 200px; min-height: 52px;}
		form.formIntegration2.style1 .spinner { display: none; bottom: 0; height: 18px; left: 0; margin: auto; position: absolute; right: 0; top: 0; }
		form.formIntegration2.style1 .spinner > div { width: 18px; height: 18px; background-color: #fff; border-radius: 100%; display: inline-block; -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both; animation: sk-bouncedelay 1.4s infinite ease-in-out both;}
		form.formIntegration2.style1 .spinner .bounce1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s;}
		form.formIntegration2.style1 .spinner .bounce2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s;}
		
		form.formIntegration2.style1 .checkbox-container {display: block; position: absolute !important; padding-left: 22px; margin-bottom: 4px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
		form.formIntegration2.style1 .checkbox-container input {position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; top: 0; left: 0;}
		form.formIntegration2.style1 .checkmark {position: absolute; top: 0; left: 0; height: 18px; width: 18px; background-color: #FFF; border: 2px solid #BBB; border-radius: 3px; }
		form.formIntegration2.style1 .checkbox-container:hover input ~ .checkmark {border: 2px solid #777; }
		form.formIntegration2.style1 .checkmark:after {content: ""; position: absolute; display: none; }
		form.formIntegration2.style1 .checkbox-container input:checked ~ .checkmark:after {display: block; }
		form.formIntegration2.style1 .checkbox-container .checkmark:after {left: 5px; top: 0px; width: 5px; height: 12px; border: solid #555; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); } 

		form.formIntegration2.style2 label{ font-family: arial; font-size: 14px; }
		form.formIntegration2.style2 input[type="text"] { border: 1px solid #bec5cb; box-shadow: 0 0 0 4px transparent; color: #4a5766; font-size: 13px; padding: 9px 6px;}
		form.formIntegration2.style2 div.containerMultiple {max-height:82px;}
		form.formIntegration2.style2 div.containerMultiple,
		form.formIntegration2.style2 select,
		form.formIntegration2.style2 textarea {border: 1px solid #bec5cb; box-shadow: 0 0 0 4px transparent; color: #4a5766; }
		form.formIntegration2.style2 select{height:40px;}
		form.formIntegration2.style2 textarea{max-height: 200px; min-height: 52px;}
		form.formIntegration2.style2 ::-webkit-input-placeholder { color: var(--cor-terciaria); }
		form.formIntegration2.style2 ::-moz-placeholder { color: var(--cor-terciaria);; font-family: arial; }
		form.formIntegration2.style2 :-ms-input-placeholder { color: var(--cor-terciaria);; font-family: arial; }
		form.formIntegration2.style2 :-moz-placeholder { color: var(--cor-terciaria);; font-family: arial; }
		form.formIntegration2.style2 .spinner { display: none; bottom: 0; height: 18px; left: 0; margin: auto; position: absolute; right: 0; top: 0; }
		form.formIntegration2.style2 .spinner > div { width: 18px; height: 18px; background-color: #fff; border-radius: 100%; display: inline-block; -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both; animation: sk-bouncedelay 1.4s infinite ease-in-out both;}
		form.formIntegration2.style2 .spinner .bounce1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s;}
		form.formIntegration2.style2 .spinner .bounce2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s;}

		@-webkit-keyframes sk-bouncedelay { 0%, 80%, 100% { -webkit-transform: scale(0) } 40% { -webkit-transform: scale(1.0) }}
		@keyframes sk-bouncedelay { 0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0); } 40% { -webkit-transform: scale(1.0); transform: scale(1.0); }}