@media screen and (max-width:768px) and (orientation:portrait) {


    body {
        background-color: var(--cor-primaria);
        background-image: url(/img/bg/lp-bg-m.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        z-index: -9999;
        overflow-x: hidden;
    }

    .info-section,.categories,.conditions,.blog,.faq {
        width: 100%;
        max-width: var(--margin--mobile);
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 3rem 0;
        padding: 3rem 0;
    }


    /* Barra de Navegação */



    .nav-bar {
        z-index: 9000;
        width: 100vw;
        position: fixed;
        padding: 1.5rem 0;
        background-color: rgba(0,0,0,.5);
        backdrop-filter: unset;
    }

    .nav-bar-content {
        max-width: var(--margin--mobile);
        align-items: center;
    }

    .nav-bar-icon {
        width: 3rem;
    }

    .nav-bar-content-links {
        display: none;
    }

    .nav-bar-menu-mobile {
        display: flex;
        border: none;
        background-color: transparent;
        box-shadow: none;
        position: static;
    }

    .nav-bar-menu-mobile i {
        color: var(--cor-terciaria);
        font-size: 2.5rem;
        z-index: 20;
    }

    .nav-bar-menu-mobile-dropdown {
        z-index: 15;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        height: 200vh;
        right: 0;
        background-color: rgba(0,0,0,1);
        
        transform: translateX(300px);
        visibility: hidden;
        transition: transform 0.5s ease-in-out, visibility 1s;
    }


    .menu-fade-bg {
        background-color: rgba(0, 0, 0, 0);
        visibility: hidden;
        opacity: 0%;
        transition: .5s ease-in-out;
    }
    .menu-fade-bg.show {
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        display: block;
        position: fixed;
        visibility: visible;
        opacity: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 12;
        transition: .5s ease-in-out;
    }

    .nav-bar-menu-mobile-dropdown li {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 4rem;
    }

    .nav-bar-menu-mobile-dropdown li a {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .nav-bar-menu-mobile-dropdown li a:hover {
        background-color: var(--cor-secundaria);
    }

    .nav-bar-menu-mobile-dropdown li:nth-child(1) {
        height: 6.5rem;

    }
    
    .nav-bar-menu-mobile-dropdown.show {
        visibility: visible;
        transform: translateX(0);
        transition: transform 0.5s ease-in-out, visibility 1s;
    }

    .nav-bar-menu-mobile-dropdown i {
        display: none;
        font-size: 1.5rem;
        color: var(--cor-terciaria);
    }

    .links-nav-categories {
        display: none;
    }



    /* Home */



    .banner-home {
        gap: 0;
    }

    .home-content {
        padding-top: 3rem;
        max-width: var(--margin--mobile);
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem 0;
    }

    .home-content-right {
        width: 100%;
        justify-content: center;

    }

    .heading {
        font-size: 2rem;
        text-align: center;

    }

    .home-content .heading-highlight {
        font-size: 2.5rem;
    }

    .paragraph {
        font-size: 1rem;
    }

    .render-01 {
        height: auto;
    }


    .scroll-down-icon {
        display: none;
    }



    /* Timer */



    .timer {
        gap: 1rem;
        align-items: center;
    }

    .heading-3 {
        font-size: 1.2rem;
    }

    .timer-box {
        padding: .5rem .8rem
    }

    .paragraph-1 {
        font-size: 1rem;
    }



    /* Info */



    .info-section {
        padding: 2rem 0;
    }

    .info-box-01,.info-box-02,.info-box-03 {
        flex-direction: column-reverse;
        gap: 2rem 0;
    }

    .info-content {
        width: 100%;
        gap: 3rem 0;
        align-items: center;
    }

    .render-02 {
        width: 15rem;
    }

    .info-content .paragraph {
        font-size: 1rem;
        text-align: center;
    }

    .info-content .cta-box {
        padding: 10px 20px;
        font-size: 1.2rem;
    }



    /* Categorias */



    .categories {
        max-width: 100%;
    }

    .categories swiper-container {
        width: 100%;
    }

    .categories swiper-slide {
        width: 80%;
    }

    .cont-promo {
        display: none;
    }

    .heading-1 {
        font-size: 2rem;
    }

    .heading-highlight {
        font-size: 2rem;
    }

    .promo-slider-cont {
        display: flex;
        justify-content: center;
        flex-direction: row;
        position: relative;
        gap: 2rem 0;
        height: 42rem;
    }

    .case-slider {
        width: 100%;
        height: 40em;
        background: rgba(0,0,0,0.2);
        backdrop-filter: blur(.5rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem;
        align-items: center;
        border: 2px solid #252525;
        border-radius: 1.5rem;
        gap: 1.5rem 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transition: -webkit-transform 0.5s ease;
        transition: 0.5s ease;
    }

    .case-promo-content {
        max-height: 31.5rem;
    }

    .case-promo-cta-box {
        gap: 1rem 0;
    }

    .case-promo-bottom {
        margin-bottom: -0.5rem;
    }

    .case-promo-bottom i {
        font-size: 1.5rem;
    }

    .case-promo-bottom-text {
        font-size: 1.2rem;
    }

    .case-promo:hover {
        -webkit-transform: scale(1.05);
        transform: 1.05;
    }


    .categories ::part(pagination) {
        bottom: 0;
    }

    .categories ::part(bullet) {
        opacity: var(--swiper-pagination-bullet-opacity, 1);
        background: var(--cor-terciaria);
    }
    .categories ::part(bullet-active) {
        opacity: var(--swiper-pagination-bullet-opacity, 1);
        background: var(--cor-secundaria);
    }



    /* Marcas */


    .slider-cont {
        display: none;
    }


    .brands {
        gap: 3rem;
        align-items: center;
    }

    .brands-mobile {
        display: flex;
        flex-direction: column;
        max-width: var(--margin--mobile);
        gap: 1.5rem 0;
        align-items: center;
    }

    .brands-mobile img {
        width: 15rem;
        transform: scale(.95);
        transition: transform .5s ease;
    }

    .brands-mobile {
        cursor: pointer;
    }

    .brands-mobile img:hover {
        filter: invert(66%) sepia(300%) saturate(991%) hue-rotate(320deg) brightness(99%) contrast(214%);
        transform: scale(1.05);
        transition: transform .5s ease;
    }



    /* Condições */



    .conditions-cont {
        flex-wrap: wrap;
        gap: 3rem 0; 
    }

    .conditions-box {
        width: 45%;
        height: 13.5rem;
    }

    .conditions-box-info {
        gap: 1rem;
    }

    .conditions-icon {
        height: 4rem;
    }

    .conditions-box-info .heading-2 {
        font-size: 1rem;
    }

    .conditions-box-info .paragraph-1 {
        font-size: 0.8rem;
    }

    .conditions-link {
        font-size: 0.8rem;
    }



    /* Tips */




    .tips swiper-container {
        width: 100%;
    }

    .tips swiper-slide {
        width: 80%;
        max-width: 24rem;
    }

    .tips {
        gap: 2rem;
    }

    .tips .heading-1, .tips .paragraph {
        max-width: var(--margin--mobile);
        margin-left: auto;
        margin-right: auto;

    }

    .tips .paragraph {
        font-size: 1.25rem;
    }

    .tips-cont {
        display: none;
    }

    .tips-slider-cont {
        display: flex;
    }
    
    .tips-slider-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: row;
        transition: transform 0.5s ease;
        height: 25rem;
        position: relative;
    }
    
    .tips-slider {
        height: 25rem;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(0.5rem);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1.5rem;
        align-items: center;
        border: 2px solid #252525;
        border-radius: 1.5rem;
        gap: 1.5rem;
        -webkit-transform: scale(0.9);
        transform: scale(.9);
        -webkit-transition: -webkit-transform 0.5s ease;
        transition: 0.5s ease;
    }

    .swiper-slide-active {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: -webkit-transform 0.5s ease;
        transition: 0.5s ease;
        border: 2px solid var(--cor-secundaria);
    }

    .swiper-pagination {
        margin-top: 1rem;
    }

    .swiper-pagination-bullet-active {
        background: var(--cor-secundaria);
    }
    
    .tips-slider .heading-2 {
        align-content: center;
        font-size: 1.25rem;
        text-align: center;
        width: auto;
        height: 4.5rem;
    }

    .tips-slider .paragraph-1 {
        font-size: 1rem;
    }

    .render-05 {
        height: 9rem;
    }
     


    /* Blog */


    .content-blog {
        flex-direction: column;
        align-items: center;
        gap: 2rem 0;

    }

    .content-blog-info {
        width: 100%;
        text-align: center;
        align-items: center;
        gap: 2rem 0;
    }

    .content-blog .cta-box {
        padding: 10px 20px;
        font-size: 1.2rem;
    }



    /* Faq */



    .faq-item {
        padding: 1.5rem 1rem 1.5rem 1.5rem;
    }

    .faq-item.opened {
        gap: 1rem 0;
    }

    .faq-item .paragraph {
        font-size: 1.25rem;
        font-weight: 500;
    }

    .faq-answer .paragraph {
        font-size: 1.15rem;
        font-weight: 200;
    }


    /* Footer */



    .footer {
        gap: 3rem 0;
    }

    .footer-links,.footer-contact,.footer-social-media,.footer-about {
        max-width: var(--margin--mobile);
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-links {
        justify-content: flex-start;
        gap: 3rem;
    }

    .footer-contact {
        justify-content: center;
    }

    .footer-contact-link i {
        display: none;
    }

    .widget {
        width: 100%;
        gap: 2rem;
    }

    .widget .heading-2 {
        text-align: center;
    }

    .nav-footer a {
        text-align: center;
    }

    .footer-links-list.row {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        gap: 1rem;
    }

    .footer-links-list.row i {
        font-size: 1.5rem;
    }

    .footer-social-media {
        gap: 1rem 0;
    }

    .footer-links-list.flex {
        justify-content: center;
        gap: 0 10%;
        width: 100%;
    }
    
}

@media screen  and (max-width:375px) and (orientation:portrait) {

    .home-content-right p {
        font-size: 1rem;
        text-align: center;
    }
    .heading {
        font-size: 1.5rem;
    }
    .heading-1 {
        font-size: 1.5rem;
    }
    .heading-highlight {
        font-size: 1.5rem;
    }
    .footer-links-list.flex {
        gap: 0 5%;
        width: 100%;
    }
    .timer-box {
        padding: .4rem .6rem;
    }
    .conditions-box {
        width: 45%;
        height: 15rem;
    }
    .footer-links-list.row .nav-footer {
        font-size: .9rem;
    }
}

@media screen and (min-width:426px) and (max-width: 768px)  and (orientation:portrait){

    main {
        min-height: unset;
    }

    .nav-bar-content {
        align-items: center;
    }

    .banner-home {
        justify-content: flex-end;
        padding-bottom: 5rem;
    }

    .home-content {
        padding-top: 8rem;
        max-width: var(--margin--mobile);
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 3rem 0;
    }

    .render-01 {
        max-height: 20rem;
    }

    .heading {
        font-size: 2.5rem;
    }

    .paragraph {
        font-size: 1.2rem;
        text-align: center;
    }

    .heading-3 {
        font-size: 1.5rem;
    }

    .categories swiper-slide {
        max-width: 28rem;
    }

    .conditions-cont {
        max-width: 24rem;
    }

    .home-content {
    gap: 2rem 0;
    }

}

@media screen and (min-width:640px) and (max-width:768px) {

    .info-section {
        gap: 5rem 0;
    }


    .info-box-01, .info-box-03 {
        flex-direction: row-reverse;
        gap: 0 3rem;

    }

    .info-box-02 {
        flex-direction: row;
        gap: 0 3rem;
    }

    .info-content {
        align-items: unset;
    }

    .info-content .paragraph {
        font-size: 1rem;
        text-align: start;
    }

    .content-blog {
        flex-direction: row;
        align-items: center;
        gap: 0 2rem;
    }

    .content-blog-info {
        width: 100%;
        align-items: start;
    }

    .content-blog-info .paragraph {
        text-align: left;
    }

    .conditions-icon {
        height: 5rem;
    }

    .conditions-box {
        width: 45%;
        height: 16rem;
    }

    .conditions-box-info .heading-2 {
        font-size: 1.35rem;
    }

    .conditions-box-info .paragraph-1 {
        font-size: 1rem;
    }
    
    .conditions-link {
        font-size: 1rem;
    }
    
}
    